name: gossip_workspace
publish_to: none
repository: https://github.com/neutrinographics/gossip

environment:
  sdk: ^3.10.4

workspace:
  - packages/gossip
  - packages/gossip_nearby
  - packages/gossip_ble

dev_dependencies:
  melos: ^7.4.0

dependency_overrides:
  bluetooth_low_energy_platform_interface:
    path: /Users/joel/git/neutrinographics/bluetooth_low_energy/bluetooth_low_energy_platform_interface
  bluetooth_low_energy_android:
    path: /Users/joel/git/neutrinographics/bluetooth_low_energy/bluetooth_low_energy_android
  bluetooth_low_energy_darwin:
    path: /Users/joel/git/neutrinographics/bluetooth_low_energy/bluetooth_low_energy_darwin

melos:
  scripts:
    analyze:
      run: melos exec -- dart analyze .
      description: Run dart analyze in all packages

    test:
      run: melos exec -- dart test
      packageFilters:
        dirExists: test
      description: Run tests in all packages

    format:
      run: melos exec -- dart format .
      description: Format all packages

    format:check:
      run: melos exec -- dart format --set-exit-if-changed .
      description: Check formatting in all packages
